button {
  height: 100px;
  width: 100px;
}

ul > li {
  font-style: italic;
}

il {
  /* background-color: blue; */
}

.box {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.top, .middle, .bottom {
  display: flex;
  flex-direction: row;
}
